<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardianas por naturaleza</title>
    <link rel="stylesheet" href="/css/productsList.css"> 
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
  </head>   
    

  <body>

    <%- include('partials/header') %>  

    <main class="cuadro">

        <div class="catalogo">
                <div class="subcatalogo">
                    <h3>CERÁMICA</h3>
                    <ul>
                        <li>OTRO PRODUCTO </li>
                        <li>otro producto2</li>
                        <li>otro producto3</li>
                    </ul>
                </div>
                <div class="subcatalogo">
                    <h3>TEXTILES</h3>
                    <ul>
                        <li>otro producto1</li>
                        <li>otro producto2</li>
                        <li>otro producto3</li>
                    </ul>
                </div>
                <div class="subcatalogo">
                    <h3>MADERA</h3>
                    <ul>
                        <li>otro producto1</li>
                        <li>otro producto2</li>
                        <li>otro producto3</li>
                    </ul>
                </div>
        </div>
            
        <br>
        
        <section class="product-list">
            <div class="product-item">
                <% if (product) { %>  
                <img src="<%= product.image %>" alt="<%= product.nombreProducto %>" width="200px"/>
                <p><%= product.nombreProducto %></p>
                <strong>$<%= product.precio %></strong><br>
                <em><a href="#">Agregar al carrito</a></em>
            </div>
            <% } %>
           
        </section>
        </main>  
        <selection>
            <i class="fa-solid fa-arrow-left-long"></i>
            <i class="fa-solid fa-arrow-right-long"></i>
        </selection>
    
        <%- include('./partials/footer') %>
        
    </body>
    </html>
