<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Guardianas x naturaleza</title>
        <link rel="stylesheet" href="css/styleproductDetail.css">
        <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
    </head>
        <body>

            <%- include('../partials/header') %>    

                            <div class="producto-box">
 
        
                                    <div class="product-name">
                                        <p ><%= product.nombreProducto %></p>
                                    </div>
                                    <div class="image">
                                        <img src="/images/<%= product.image %>" alt="<%= product.nombreProducto %>" width="400px" height="400px" class="product-image"/>
                                    </div> 
                                
                                    <div>
                                        <p><%= product.comunidad %></p>
                                    </div>

                                    <div> 
                                        <p><%= product.historia %></p>
                                    </div>  

                                    <div>
                                        <p><%= product.caracteristicas %></p>
                                    </div>

                                    <div>
                                        <p><%= product.categoria %></p>
                                    </div>

                                    <div class="precio">
                                        <p ><STRONg>$<%= product.precio %></STRONg></p><br>
                                    </div>

                                    <div class="agregar-carrito">
                                      <a  href="#">Agregar al carrito</a> <i class="fa-solid fa-cart-shopping"></i>
                                    
                                    </div>
                                    
                                    <div>
                                        <a href="/" class="boton-borrar">Borrar</a>
                                        <a href="/products/detail/<%=product.id%>" class="boton-editar">Editar</a>
                                    </div>
                            </div>
                      
</html>           
                                       