<html>
    
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Guardianas por naturaleza</title>
      <link rel="stylesheet" href="/css/productsEdit-create-.css">
      <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
  </head>
  
        <body>
           
        

            <div class="container-products">
               
                <div>
                    <div class="col-12">
                        <h2 class="products-title">Estás editando: <i><%= productToEdit.nombreProducto %></i></h2>
                    </div>
                </div>

                <div class="col-12">
                    <form action="/products/edit/<%= productToEdit.id %>?_method=PATCH" method="POST">
                        
                        <div class="row-product">
                            
                            <div class="col-12">
                                <label for="nombreProducto" class="form-label">Nombre de la artesanía: </label>
                                <input type="text" value="<%= productToEdit.nombreProducto %>" id="nombreProducto" name="nombreProducto" placeholder="Ej: Bolso de arpillera" class="form-input">
                            </div>

                            <div class="col-12">
                                <label for="historia" class="form-label">Historias de artesanas:</label>
                                <textarea name="historia" id="historia" class="form-input"><%= productToEdit.historia %></textarea>
                            </div>

                            <div class="col-12">
                                <label for="image" class="form-label">Subí las imágenes del producto aquí</label>
                                <input type="file" name="image" id="image" class="form-input">
                            </div>

                            <div class="col-12">
                                <label for="comunidad" class="form-label">Comunidad de artesanas:</label>
                                <select name="comunidad" id="comunidad" class="form-input">
                                    <option value="">Elegí la tuya</option>
                                    <option value="toba" <%= productToEdit.comunidad  %> >Toba</option>
                                    <option value="wichi" <%= productToEdit.comunidad %> >Wichi</option>
                                </select>
                            </div>

                            
                            <div class="col-12">
                                <label for="categoria" class="form-label">Categoría:</label>
                                <select name="categoria" id="categoria" class="form-input">
                                    <option value="">Elegí la clase de artesanía</option>
                                    <option value="madera" <%= productToEdit.categoria  %> >Madera</option>
                                    <option value="ceramica" <%= productToEdit.categoria %> >Cerámica</option>
                                    <option value="textil" <%= productToEdit.categoria %> >Textil</option>

                                </select>
                            </div>

                            <div class="col-12">
                                <label for="caracteristicas" class="form-label">Caracteristicas:</label>
                                <textarea name="caracteristicas" id="caracteristicas" class="form-input"><%= productToEdit.historia %></textarea>
                            </div>

                            <div class="col-12">
                                <label for="precio" class="form-label">Precio de la artesanía</label>
                                <input type="number" value="<%= productToEdit.precio %>" id="precio" name="precio" placeholder="Ej: $1500" class="form-input">
                            </div>
                        
                            <div class="col-12">
                                <button type="submit" class="buy-now-button">Edita el producto</button>
                            </div>
                        </div>
                    </form>
                </div>
        
            </div>
           
        </body>	


</html>