<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guardianas por naturaleza</title>
    <link rel="stylesheet" href="/css/productsList.css"> 
    <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
  </head>   
    
  <body>

    <%- include('../partials/header') %>

        
        <a href="#" class="pre-header"> Home / Conocé nuestras artesanías </a>
            <h3 class="titulo">Artesanías únicas, con historia propia </h3>
                <p class="parrafo-header"> Estamos comprometidos con el cuidado de la naturaleza <br> Ayudamos a las artesanas Argentinas a vivir de su trabajo a tráves del comercio justo.  <br> Sabemos que buscas productos perfectos, y por eso naturales :) <br> Por todo eso y más, ya sos parte de esta hermosa comunidad de ¡Guardianas x naturaleza! </p>


            <main class="box-main">
                <div class="catalogo">
                    <div class="subcatalogo">
                        <a href="/products" target="_blank" rel="noopener noreferrer">CERÁMICA</a> 
                            <div class="imagenes-catalogo">
                                <a href="#"><img src="/images/4.jpg" alt="" width="200px" height="200px"></a>
                                <a href="#"><img src="/images/4.jpg" alt="" width="200px" height="200px"></a>
                            </div>
                          
                    </div>
                
                    <div class="subcatalogo">
                        <a href="/products" target="_blank" rel="noopener noreferrer">TEXTILES</a> 
                      
                        <div class="imagenes-catalogo">
                            <a href="#"><img src="/images/carteraChaguar.jpg" alt="" width="200px" height="200px"></a>
                            <a href="#"><img src="/images/artesania1.jpg" alt="" width="200px" height="200px"></a>
                        </div>
                          
                    </div>
                
                    <div class="subcatalogo">
                        <a href="/products" target="_blank" rel="noopener noreferrer">MADERA</a> 
                      
                        <div class="imagenes-catalogo">
                            <a href="#"><img src="/images/maderaartesania.jpg" alt="" width="200px" height="200px"></a>
                            <a href="#"><img src="/images/maderaartesania1.jpg" alt="" width="200px" height="200px"></a>
                        </div>
                          
                    </div>
                </div>
            
        <br>
        
        <section class="product-list">

            <div class="titulo-productslist">
                <h3> Todas nuestras artesanías </h3>
            </div>

                <div class="box-products-list">
                    <% for(let i = 0; i < products.length; i++) { %>
                        <div class="product-box">
                            
                            <img src="<%= products.image %>" alt="<%= products.nombreProducto %>" width="200px" class="product-image"/>
                            <p class="product-name"><%= products.nombreProducto %></p>
                            <p class="precio">$<%= products.precio %></p><br>
                            <em><a class="agregar-carrito" href="#">Agregar al carrito</a></em> <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        </div><% } %>
                   


                </div>

              
           
        </section>
            
        <selection>
            <i class="fa-solid fa-arrow-left-long"></i>
            <i class="fa-solid fa-arrow-right-long"></i>
        </selection>
    
           
    </body>
    </html>
