<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Guardianas x naturaleza</title>
        <link rel="stylesheet" href="css/styleproductDetail.css">
        <script src="https://kit.fontawesome.com/ff0b18be1c.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;700&display=swap" rel="stylesheet">
    </head>
        <body>

            <%- include('../partials/header') %>    

    

           
                <div class="buscador-de-productos">
                    <label for="buscador-productos"> Artesanías únicas </label>
                        <input type="text" name="buscador-productos" id="buscador" placeholder="   Carteras,ollas,tazas"><i class="fa-solid fa-magnifying-glass"></i>
                </div>


    
                    <div class="volver">
                        <a href="/views/index.html"> HOME/ <%= products.nombreProducto %></a>
                    </div>


                        <main>
                           
                            <section class="producto">
                                <div>
                                    <img src="<%= product.image %>" alt="<%= product.nombreProducto %>" width="200px" class="product-image"/> 
                                    <a href="#" class="product-name"><%= product.nombreProducto %></a>
                                    <strong><%= product.precio %></strong><br>
                                    <p><%= product.historia %></p>
                                    <em><a class="agregar-carrito" href="#">Agregar al carrito <i class="fa-solid fa-cart-shopping"></i></a></em> 
                                </div>
                        </main>

                        
                                        <section class="boton-donacion">
                                            <a  href="/donaciones" class="pagina-donaciones">Sumate con tu donación</a>  
            <!--boton con css 
                                            <section class="boton-tienda">
                                                <a  href="#" class="pagina-tienda"> Conocé nuestra tienda
                                                ¡No te pierdas nada! </a>
             <!--hacer boton con css
                                            </section>
                                       
  
        </body> -->
</html>